@use '@/styles' as *;

.button {
	padding: 0.375rem;
	font-size: 1.125rem;
	font-weight: 600;
	background-color: $blue-primary;
	color: $white-color;
	border: 0.125rem solid $blue-primary;
	border-radius: 0.5rem;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $blue-primary-hover;
	}

	&:active {
		transform: scale($btn-scale-active);
	}
}

.button_disabled {
	background-color: $btn-backgrund-gray-disabled;
	color: $btn-color-gray-disabled;
	border: none;
	cursor: no-drop;

	// &:focus {
	// 	outline: none;
	// }

	&:hover,
	&:active {
		background-color: $btn-backgrund-gray-disabled;
		color: $btn-color-gray-disabled;
		transform: none;
	}
}

.button_xs {
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
}

.button_sm {
	font-size: 0.875rem;
	padding: 0.375rem 0.75rem;
}

.button_md {
	font-size: 1rem;
	padding: 0.4375rem 1rem;
}

.button_lg {
	font-size: 1.125rem;
	padding: 0.75rem 1.5rem;
}

.button_dange {
	color: $btn-bg-dange;
}

.button_success {
	color: $btn-bg-dange;
}
