@use '@/styles' as *;

.button {
	padding: 0.375rem;
	font-size: 1.125rem;
	font-weight: 600;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;

	&:focus-visible:not(.isDisabled) {
		box-shadow: 0 0 0 0.1875rem rgb(66 153 225 / 60%);
		outline: 0;
	}
}

// Size button

.button_xs {
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
}

.button_sm {
	font-size: 0.875rem;
	padding: 0.375rem 0.75rem;
}

.button_md {
	font-size: 1rem;
	padding: 0.4375rem 1rem;
}

.button_lg {
	font-size: 1.125rem;
	padding: 0.75rem 1.5rem;
}

//  button type Colors

.button_primary {
	background-color: $blue-primary;
	color: $btn-color-white;

	&:hover:not(.isDisabled) {
		background-color: $btn-primary-bg-hover;
	}

	&:active:not(.isDisabled) {
		transform: scale($btn-scale-active);
	}
}

.button_success {
	background-color: $btn-success-bg;
	color: $btn-color-white;

	&:hover:not(.isDisabled) {
		background-color: $btn-success-hover;
	}

	&:active:not(.isDisabled) {
		transform: scale($btn-scale-active);
	}
}

.button_warning {
	background-color: $btn-warning-bg;
	color: $btn-color-white;

	&:hover:not(.isDisabled) {
		background-color: $btn-warning-bg-hover;
	}

	&:active:not(.isDisabled) {
		transform: scale($btn-scale-active);
	}
}

.button_danger {
	background-color: $btn-dange-bg;
	color: $btn-color-white;

	&:hover:not(.isDisabled) {
		background-color: $btn-dange-bg-hover;
	}

	&:active:not(.isDisabled) {
		transform: scale($btn-scale-active);
	}
}

.isDisabled {
	background-color: $btn-backgrund-gray-disabled;
	color: $btn-color-gray-disabled;
	cursor: no-drop;
}
