// Gray *****************************************
$white-color: #fff;
$btn-backgrund-gray-disabled: #868e96;
$btn-color-gray-disabled: #ced4da;

// black Gray ***********************************

// Red *******************************************
$message-error: #e03131;
$-alizarin-crimson: #dc2626;
$btn-bg-dange: $-alizarin-crimson;

// Brown *****************************************

// Orange ****************************************

// Yellow ****************************************

// Green *****************************************

$-green-7: #0ca678;
$card-title-cheked-true: $-green-7;
$-salem: #16a34a;

// Cyan ******************************************

// Blue
$blue-primary: #287bff;
$blue-primary-hover: #0860ed;
$border-blue-primary: #485fc7;
$show-blue-primary: #485fc763;

// Indigo

// Purple

// Violet
