$white-color: #fff;
$blue-primary: #287bff;
$blue-primary-hover: #0860ed;
$border-blue-primary: #485fc7;
$show-blue-primary: #485fc763;

// btn disabled
$btn-backgrund-gray-disabled: #868e96;
$btn-color-gray-disabled: #ced4da;
