@use '@/styles' as *;

.home {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'spaceMenu container';
	gap: 0.375rem;
	transition: 0.5s;
}

.home__spaceMenu {
	grid-area: spaceMenu;
	width: 6.25rem;
	transition: 0.5s;
}

.active .home__spaceMenu {
	grid-area: spaceMenu;
	width: 20rem;
}

.home__container {
	grid-area: container;
}

@include table {
	.home {
		grid-template-areas: 'container container';
		gap: 0;
		padding: 0 0.625rem;
	}

	.home__spaceMenu {
		display: none;
	}

	// .home__spaceMenu {
	// 	width: 0;
	// }
	// .active.home__spaceMenu {
	// 	width: 0;
	// }
}
